@use './variables.scss' as *;
@use '@stephane888/wbu-atomique/scss/atome/typography/_default.scss';
// il ne faut pas charger bootstrap,car il va aloudir l'application et bootstrap est deja sur le site.
// @use '@stephane888/wbu-atomique/scss/bootstrap-all.scss';
//import prime
@use '../primevue/main.scss';
@use 'v-calendar/style.css';
// ce fichier fait pres de 800Ko.
// @use 'primeicons/primeicons.css';
// import custom style
@use './ScheduleComponent.scss';
@use './ResumedComponent.scss';
@use './showReportComponent.scss';

// C'est @stephane888/wbu-atomique/scss/atome/typography/_default.scss qui s'en charge.
// html {
//   font-size: 62.5%;
// }
// encapsule la css.
.app-main-contain {
  width: 100%;
  max-width: 750px;

  .title-steps {
    span {
      svg {
        height: 18px;
      }

      &.ts-icon {
        svg {
          height: 32px;
        }
      }

      font-size: $wbu-default-font-size * 0.8;
      font-weight: 700;
    }
  }

  @include media-min('bootstrap_lg') {
    width: 75%;
  }

  .booking-breadcrumb {
    display: flex;
    justify-content: center !important;
    background-color: $primary-color-estomped;

    & > ol {
      width: 100%;

      li {
        flex: auto;
        transition:
          $bg-transition,
          $color-transition,
          max-width 0.2s ease-in;

        &.p-menuitem {
          .breadcrumb-icon {
            svg {
              width: 18px;
            }

            &::before {
              margin-block: auto;
            }
          }

          max-width: fit-content;
          min-width: 100px;

          &.disabled {
            cursor: not-allowed;
          }

          &.selectable {
            cursor: pointer;
            max-width: none;

            .step-label {
              @include media-min('tablet') {
                display: inline;
              }
            }
          }

          .step-label {
            display: none;
          }

          &.active-step,
          &.passed-step {
            color: white;
            background-color: $wbu-color-primary;

            & + .p-menuitem-separator {
              svg {
                color: white;
              }

              &::before {
                background-color: $wbu-color-primary;
              }
            }
          }

          &.passed-step {
            & + .p-menuitem-separator {
              background-color: $wbu-color-primary;
            }
          }
        }
      }

      .p-menuitem-separator {
        position: relative;
        max-width: fit-content;
        height: 100%;
        margin: 0px 0px 0px -1px;

        svg {
          z-index: 999;
          transition: $bg-transition;
        }

        &::before {
          content: '';
          clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          top: 0;
          z-index: 998;
          transition: $bg-transition;
        }
      }
    }

    .app-step {
      display: inline-block;
    }
  }

  .submit-btn {
    color: $wbu-color-primary;
    border-color: $wbu-color-primary;
    background-color: white;

    &:hover {
      background-color: $primary-color-estomped;
      color: black;
    }
  }

  .animate {
    transition:
      opacity 0.4s,
      transform 0.3s;
    animation: animateFade 0.4s linear;
  }

  @keyframes animateFade {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
