@use './variables.scss' as *;
@use '@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss' as *;
@use '@stephane888/wbu-atomique/scss/bootstrap-all.scss';
@use './ScheduleComponent.scss';

html {
  font-size: 62.5%;
}

.p-component,
.pi {
  font-size: 1.6rem;
}

.app-main-contain {
  width: 100%;
  max-width: 750px;

  .title-steps {
    span {
      font-size: 1.4rem;
      font-weight: 700;
    }
  }

  @include media-min('bootstrap_lg') {
    width: 75%;
  }

  .booking-breadcrumb {
    display: flex;
    justify-content: center !important;
    background-color: $primary-color-estomped;

    & > ol {
      width: 100%;

      li {
        flex: auto;
        transition:
          $bg-transition,
          $color-transition,
          max-width 0.2s ease-in;

        &.p-menuitem {
          .breadcrumb-icon::before {
            margin-block: auto;
          }

          max-width: fit-content;
          min-width: 100px;

          &.disabled {
            cursor: not-allowed;
          }

          &.selectable {
            cursor: pointer;
            max-width: none;

            .step-label {
              display: inline;
            }
          }

          .step-label {
            display: none;
          }

          &.active-step,
          &.passed-step {
            color: white;
            background-color: $primary-color;

            & + .p-menuitem-separator {
              svg {
                color: white;
              }

              &::before {
                background-color: $primary-color;
              }
            }
          }

          &.passed-step {
            & + .p-menuitem-separator {
              background-color: $primary-color;
            }
          }
        }
      }

      .p-menuitem-separator {
        position: relative;
        max-width: fit-content;
        height: 100%;
        margin: 0px 0px 0px -1px;

        svg {
          z-index: 999;
          transition: $bg-transition;
        }

        &::before {
          content: '';
          clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
          position: absolute;
          width: 100%;
          height: 100%;
          right: 0;
          top: 0;
          z-index: 998;
          transition: $bg-transition;
        }
      }
    }

    .app-step {
      display: inline-block;
    }
  }

  .submit-btn {
    color: $primary-color;
    border-color: $primary-color;
    background-color: white;

    &:hover {
      background-color: $primary-color-estomped;
      color: black;
    }
  }

  .animate {
    transition:
      opacity 0.4s,
      transform 0.3s;
    animation: animateFade 0.4s linear;
  }

  @keyframes animateFade {
    from {
      opacity: 0;
      transform: translateX(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
