@use './variables.scss' as *;

$first-color: $wbu-color-primary;
$second-color: rgb(200, 66, 88);
$gray-color: #f8f9fa;

// encapsule la css.
.app-main-contain {
  .offers-content {
    text-align: left;

    .option-selection {
      padding: 10px;
      margin: 1rem auto;
      margin-bottom: 25px;
      background-color: rgb(255, 255, 255);
      display: block;
      width: 100%;
      min-width: 14rem;
      text-align: left;
      // line-height: 1.5;
      border: 2px solid $gray-color;
      border-radius: 2px;
      border-radius: 0.25rem;
      box-shadow: 0px 3px 6px rgba(#000, 0.2);
      transition:
        width 250ms linear 0s,
        box-shadow ease 0.3s;

      .cc-titre {
        font-weight: bold;
        margin-bottom: 10px;
        padding-right: 30px;

        .reduction {
          padding: 3px;
          background: black;
          color: white;
          margin-right: 6px;
        }
      }

      .cc-description {
        color: rgba(#000000, 0.6);
      }

      .check-circle,
      .x-circle {
        position: absolute;
        right: 15px;
        top: 0;

        .cc-rond {
          border-radius: 50px;
          border: 1px solid $gray-color;
          transition: ease 0.3s;
          width: 25px;
          display: inline-flex;
          height: 25px;
          align-items: center;
          justify-content: center;
        }
      }

      .x-circle {
        .cc-rond {
          border-color: $second-color;
          background: $second-color;
          color: $first-color;
        }
      }

      .check-circle {
        .cc-rond {
          background: transparent;
          color: white;
        }
      }

      .first-line {
        position: relative;
      }

      &:hover {
        box-shadow: 0px 3px 10px rgba(#000, 0.2);
        width: 99%;

        .check-circle {
          .cc-rond {
            background-color: rgba(#000000, 0.2);
          }
        }
      }
    }

    .os-selected {
      .check-circle {
        .cc-rond {
          color: $first-color;

          // border-color: $first-color;
          svg {
            width: 15px;
            height: 15px;
            display: block;
            margin-inline: auto;
          }
        }
      }

      &:hover {
        .check-circle {
          .cc-rond {
            background-color: $first-color;
            color: white;
          }
        }
      }
    }
  }

  .book-bloc {
    width: 100%;
    margin-top: 5rem;

    .book-btn {
      display: block;
      width: 100%;
      padding: 10px 10px;
      background: lighten($first-color, 10);
      color: white;
      text-transform: uppercase;
      border: none;
      border-radius: 5px;
      transition: ease 0.4s;

      &:hover {
        background: $first-color;
      }
    }
  }
}
