$primary-color: #2563eb;
$primary-color-estomped: #2564eb30;
$bg-transition: background-color 0.2s ease-in;
$color-transition: color 0.2s ease-out;
$default-font-size: 1.6rem;
$white: #fcfcfc;
$gray: #cbcdd3;
$dark: #777777;
$error: #ef8d9c;
$orange: #ffc39e;
$success: #b0db7d;
$secondary: #99dbb4;
